* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font), sans-serif;
    color: var(--color-neutral-dark-gray);
    background-color: var(--color-neutral-gray);
    letter-spacing: var(--letter-spacing);
}